<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/plantillas/plantilla}">

<head>
	<title>Asignar tareas</title>
</head>

<body>

	<section layout:fragment="contenido">
		<div class="page-inner">
			<div class="page-header">
				<h3 class="fw-bold mb-3">Proyectos</h3>
				<ul class="breadcrumbs mb-3">
					<li class="nav-home">
						<a href="#">
							<i class="icon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="icon-arrow-right"></i>
					</li>
					<li class="nav-item">
						<a href="#">Gesti&oacute;n</a>
					</li>
					<li class="separator">
						<i class="icon-arrow-right"></i>
					</li>
					<li class="nav-item">
						<a href="#">Asignación de tareas</a>
					</li>
				</ul>
			</div>
			<!-- Container -->
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="d-flex align-items-center">
									<h4 class="card-title">Listado de asignación de tareas</h4>
									<a class="btn btn-primary btn-round ms-auto"
										th:href="@{/gestion/asignacion/formulario}">
										<i class="fa fa-plus"></i>
										Agregar
									</a>
								</div>
							</div>
							<div class="card-body">

								<div class="table-responsive">
									<table id="add-row" class="display table table-striped table-hover">
										<thead>
											<tr>
												<th>C&oacute;digo</th>
												<th>Fecha</th>
												<th>Tarea</th>
												<th>Usuario</th>
												<th>Acciones</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="as: ${asignacion}">
												<td th:text="${as.codigo}"></td>
												<td th:text="${as.fechaAsignacion}"></td>
												<td th:text="${as.tarea.nombre}"></td>
												<td th:text="${as.usuario.nombre}"></td>

												<td>
													<div class="form-button-action">
														<a class="btn btn-link btn-primary btn-lg"
															data-original-title="Editar proyecto"
															th:href="@{/gestion/asignacion/editar/}+${as.codigo}">
															<i class="fa fa-edit"></i>
														</a>
														<a type="button"
															onclick="return confirm('¿Estás seguro de que deseas eliminar estas asignación?');"
															th:href="@{/gestion/asignacion/eliminar/}+${as.codigo}"
															class="btn btn-link btn-danger"
															data-original-title="Eliminar">
															<i class="fa fa-times"></i>
														</a>
													</div>
												</td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="d-flex align-items-center">
									<h4 class="card-title">Historial</h4>

								</div>
							</div>
							<div class="card-body">

								<div class="table-responsive">
									<table id="add-row" class="display table table-striped table-hover">
										<thead>
											<tr>
												<th>C&oacute;digo</th>
												<th>Detalles</th>
												<th>Actualización</th>
												<th>Código asignación</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="h: ${historial}">
												<td th:text="${h.codigo}"></td>
												<td th:text="${h.detalles}"></td>
												<td th:text="${h.fechaActualizacion}"></td>
												<td th:text="${h.asignacion.codigo}"></td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>