<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/plantillas/plantilla}">

<head>
	<title>Formulario asignación</title>
</head>

<body>

	<section layout:fragment="contenido">
		<div class="page-inner">
			<div class="page-header">
				<h3 class="fw-bold mb-3">Asignación de tareas</h3>
				<ul class="breadcrumbs mb-3">
					<li class="nav-home">
						<a href="#">
							<i class="icon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="icon-arrow-right"></i>
					</li>
				</ul>
			</div>
			<!-- Container -->
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="d-flex align-items-center">
									<h4 class="card-title">Asignar tareas</h4>
								</div>
							</div>
							<div class="card-body">
								<form th:action="@{/gestion/asignacion/guardar}" th:object="${nuevaAsignacion}"
									method="post">
									<input type="hidden" th:if="${codigo != null}" th:field="*{codigo}" />

									<div class="row">
										<div class="col-sm-12">
											<div class="form-group form-group-default">
												<label>Fecha</label>
												<input id="addFecha" type="date" required="true"
													th:field="*{fechaAsignacion}" class="form-control" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group form-group-default">
												<label>Tarea</label>
												<select class="form-select" id="formGroupDefaultSelect"
													th:field="*{tarea}" required="true">
													<option value="" disabled selected>Selecciona una tarea
													</option>
													<option th:each="tarea: ${tareas}" th:value="${tarea.codigo}"
														th:text="${tarea.nombre}">
													</option>
												</select>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group form-group-default">
												<label>Usuario</label>
												<select class="form-select" id="formGroupDefaultSelect"
													th:field="*{usuario}" required="true">
													<option value="" disabled selected>Selecciona usuario
													</option>
													<option th:each="usuario: ${usuarios}" th:value="${usuario.codigo}"
														th:text="${usuario.nombre}">
													</option>
												</select>
											</div>
										</div>

										<div class="demo">
											<button type="submit" id="addRowButtonAsignacion" class="btn btn-primary">
												Agregar
											</button>
											<a type="button" class="btn btn-danger" th:href="@{/gestion/asignacion}">
												Cerrar
											</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>