<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/plantillas/plantilla}">

<head>
	<title>Proyectos</title>
</head>

<body>

	<section layout:fragment="contenido">
		<div class="page-inner">
			<div class="page-header">
				<h3 class="fw-bold mb-3">Proyectos</h3>
				<ul class="breadcrumbs mb-3">
					<li class="nav-home">
						<a href="#">
							<i class="icon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="icon-arrow-right"></i>
					</li>
					<li class="nav-item">
						<a href="#">Gesti&oacute;n</a>
					</li>
					<li class="separator">
						<i class="icon-arrow-right"></i>
					</li>
					<li class="nav-item">
						<a href="#">Proyectos</a>
					</li>
				</ul>
			</div>
			<!-- Container -->
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="d-flex align-items-center">
									<h4 class="card-title">Listado de proyectos</h4>
									<a class="btn btn-primary btn-round ms-auto"
										th:href="@{/gestion/proyectos/formulario}">
										<i class="fa fa-plus"></i>
										Agregar
									</a>
								</div>
							</div>
							<div class="card-body">

								<div class="table-responsive">
									<table id="add-row" class="display table table-striped table-hover">
										<thead>
											<tr>
												<th>C&oacute;digo</th>
												<th>Nombre</th>
												<th>Descripci&oacute;n</th>
												<th>Inicio</th>
												<th>Fin</th>
												<th>Presupuesto</th>
												<th>Acciones</th>
											</tr>
										</thead>

										<tbody>
											<tr th:each="proyecto: ${proyectos}">
												<td th:text="${proyecto.codigo}"></td>
												<td th:text="${proyecto.nombre}"></td>
												<td th:text="${proyecto.descripcion}"></td>
												<td th:text="${proyecto.fechaInicio}"></td>
												<td th:text="${proyecto.fechaFin}"></td>
												<td
													th:text="'$' + ${#numbers.formatDecimal(proyecto.presupuesto, 1, 'COMMA', 2, 'POINT')}">
												</td>

												<td>
													<div class="form-button-action">
														<a class="btn btn-link btn-primary btn-lg"
															data-original-title="Editar proyecto"
															th:href="@{/gestion/proyectos/editar/}+${proyecto.codigo}">
															<i class="fa fa-edit"></i>
														</a>
														<a type="button"
															onclick="return confirm('¿Estás seguro de que deseas eliminar este proyecto?');"
															th:href="@{/gestion/proyectos/eliminar/}+${proyecto.codigo}"
															class="btn btn-link btn-danger"
															data-original-title="Eliminar">
															<i class="fa fa-times"></i>
														</a>
													</div>
												</td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>