<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/plantillas/plantilla}">

<head>
	<title>Formulario tareas</title>
</head>

<body>

	<section layout:fragment="contenido">
		<div class="page-inner">
			<div class="page-header">
				<h3 class="fw-bold mb-3">Tareas</h3>
				<ul class="breadcrumbs mb-3">
					<li class="nav-home">
						<a href="#">
							<i class="icon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="icon-arrow-right"></i>
					</li>
				</ul>
			</div>
			<!-- Container -->
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="d-flex align-items-center">
									<h4 class="card-title">Crear tarea</h4>
								</div>
							</div>
							<div class="card-body">
								<form th:action="@{/gestion/tareas/guardar}" th:object="${nuevaTarea}" method="post">
									<input type="hidden" th:if="${codigo != null}" th:field="*{codigo}" />
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group form-group-default">
												<label>Proyecto</label>
												<select class="form-select" id="formGroupDefaultSelect"
													th:field="*{proyecto}" required="true">
													<option value="" disabled selected>Selecciona un proyecto
													</option>
													<option th:each="proyecto: ${proyectos}"
														th:value="${proyecto.codigo}" th:text="${proyecto.nombre}">
													</option>
												</select>
											</div>
										</div>

										<div class="col-sm-12">
											<div class="form-group form-group-default">
												<label>*Nombre</label>
												<input id="addNameTarea" type="text" th:field="*{nombre}"
													required="true" class="form-control"
													placeholder="Nombre del proyecto" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group form-group-default">
												<label>Descripci&Oacute;n</label>
												<input id="addDescripcion" type="text" th:field="*{descripcion}"
													class="form-control" placeholder="Descripción del proyecto" />
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group form-group-default">
												<label>Progreso</label>
												<input id="addProgreso" type="number" min="0" max="100"
													th:field="*{progreso}" class="form-control" placeholder="0.00%" />
											</div>
										</div>
										<div class="col-md-3 pe-0">
											<div class="form-group form-group-default">
												<label>Inicio</label>
												<input id="inicioTarea" type="date" th:field="*{fechaInicio}"
													class="form-control" />
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group form-group-default">
												<label>Fin</label>
												<input id="finTarea" type="date" th:field="*{fechaFin}"
													class="form-control" />
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group form-group-default">
												<label>Prioridad</label>
												<select class="form-select" id="formGroupDefaultSelectPrioridad"
													th:field="*{prioridad}" required="true">
													</option>
													<option th:each="pri: ${prioridad}" th:value="${pri}"
														th:text="${pri}">
													</option>
												</select>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group form-group-default">
												<label>Estado</label>
												<select class="form-select" id="formGroupDefaultSelectEstado"
													th:field="*{estado}">
													</option>
													<option th:each="e: ${estado}" th:value="${e}" th:text="${e}">
													</option>
												</select>
											</div>
										</div>
										<div class="demo">
											<button type="submit" id="addRowButtonTarea" class="btn btn-primary">
												Agregar
											</button>
											<a type="button" class="btn btn-danger" th:href="@{/gestion/tareas}">
												Cerrar
											</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>